html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  background: black;
  font-family: Arial, sans-serif;
}

canvas {
  display: block;
  background: #111;
}

/* Botones táctiles */
.botones {
  position: absolute;
  bottom: 5%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  pointer-events: none;
}

.boton {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  width: 15vw;
  height: 15vw;
  font-size: 6vw;
  color: white;
  text-align: center;
  line-height: 15vw;
  pointer-events: auto;
  user-select: none;
}

/* Botón de reintentar */
#reintentar {
  display: none;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: pink;
  border: none;
  border-radius: 12px;
  padding: 15px 30px;
  font-size: 5vw;
  cursor: pointer;

}

/* Pantalla de inicio */
#pantallaInicio {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Aquí irá la imagen de fondo */
  background-image: url("portada.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

/* Texto romántico */
#pantallaInicio h1 {
  color: white;
  font-size: 8vw;
  text-shadow: 0px 0px 15px black;
  margin-bottom: 40px;
}

/* Botón rosa */
#inicio {
  background: hotpink;
  color: white;
  font-size: 6vw;

  padding: 18px 35px;
  border: none;
  border-radius: 25px;

  box-shadow: 0px 0px 20px pink;
  cursor: pointer;
}
